<div class="container mt-5">
    <div class="alert alert-info">
        <h4>Your account is pending admin approval.</h4>
        <p>You will be notified once an administrator approves your account.</p>
    </div>
</div>
